//colors
$white: #fff;
$light:#d6cece;
$light2:#f2f2f2;
$grey: #404040;
$dark-salmon:#cc6262;
$brownish-pink:#c18172;
$dark:#293644;




//fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
